<script lang="ts" setup>
import { ref } from "vue";
const number = ref(0);
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-text-field
          v-model.number="number"
          :rules="[(v) => !!v || 'Number is not empty!!']"
          label="Please input Number"
          required
        >
        </v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-container>
          <v-row>
            <v-col cols="1" v-for="num of number" :key="num">{{ num }}</v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
