<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";

const counterStore = useCounterStore();
</script>
<template>
  <v-container>
    <v-row class="text-h5">First Component</v-row>
    <v-row>{{ counterStore.count }}</v-row>
    <v-row>
      <v-btn @click="counterStore.increment">Increment</v-btn>
    </v-row>
  </v-container>
</template>
